body {
    background-color: #FF5956;
}
.header h1{
    text-align: center;
    font-size: 80;
    background-color: #003B5A;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold;
    color: #FFCC57; 
}
.busqueda {
    color: #003B5A;
    font-size: 50;
    font-family: 'Courier New', Courier, monospace;
}
.miboton {
    background-color: #33C3F0;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin-left: 8px;
    font-size: 20;
}
.marcaPaginas {
    font-family: 'Courier New', Courier, monospace;
    color:#030505;
    font-size: 20;
    display: flex;
    justify-content: space-between;
}
.pagina {
    font-family: 'Courier New', Courier, monospace;
    color: #003B5A;
    font-size: 20;
    display: flex;
    justify-content: center;
}
.tabla {
    font-family: 'Courier New', Courier, monospace;
    color:#003B5A;
    font-size: 20;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.error {
    font-family: 'Courier New', Courier, monospace;
    color: red;
    font-size: 50;
    font-weight:bold;
    justify-content: center;
}
.menu {
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: 'Courier New', Courier, monospace;
    color: #003B5A;
    font-size: 20;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
    }
.paginado_li {
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
    cursor: pointer;  
}
.marcapaginas_p {
    text-align: center;
    
}

.paginado {
    justify-content: center;
    text-align: center;

}