
head {
    background-color: #891862;
    padding-top: 16px;
    font-family: fantasy;
    font-weight: 900;
    color: black; 
}

body {
    background-color: #FFE19B;
}

.header{
    background-color: #891862;
    padding-top: 16px;
    font-family: fantasy;
    font-weight: 900;
    color: black; 
}

.miboton {
    background-color: #FFAE8C;
    color: black;
    margin-left: 8px;
}

.busqueda {
    color: #99DDA1;
    font-weight: 900;
    font-family: fantasy;
}