

body {
    background-color: #FF1654;
}

.header{
    background-color: #25c472;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1000;
    color: black; 
}

.miboton {
    
    background-color: #25c472;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    margin-left: 8px;
}


.busqueda {
    color: black;
    font-size: 40;
    font-family: fantasy;
}

.marcaPaginas {
    font-family: fantasy;
    color: black;
    font-size: 20;
    
}