{% extends "base.html"%}
{% block title %} Tu Pelicula{% endblock%}
{% block body %}
    <h1 class= "titulo-pagina">Tu Pelicula</h1>

    {% if form.errors['general'] %}
        {% for error in form.errors['general'] %}
            <p class="general-error"> {{ error }} </p>
        {% endfor %}
    {% endif %}  
    
    <form action="/final" method="GET">
        <div class = 'container'>
                <p class ='menu'>
                   <a href="./">Busqueda</a> | <a href = "./indice">Indice</a>
               </p>
               
               {% block body %}{% endblock%}
           </div>
        <button type="submit" class ='butVol'>Volver</button>
    </form>
  
{% endblock%}