{% extends 'base.html' %}
{% block title %} te cuento un poco... {% endblock %}
{% block body %} 
    <form action="/listado" method="POST">
        <table class="u-full-width">
            <tr>
                <td>
                    <a href="http://www.omdbapi.com">
                        <img src="http://www.omdbapi.com/?apikey={}&=" />
                    </a>
                </td>
                <td>
                    <tr>Titulo</tr>
                    <tr>Año</tr>
                    <tr>Director</tr>
                    <tr>Guionista</tr>
                    <tr>Reparto</tr>
                    <tr>Argumento</tr>
                    <tr>Genero</tr>
                </td>       
            </tr>
        </table>    
        <br/>
            <button name="btnselected" value="variable detalles" type="submit" class="miboton  button-primary">Volver</button>
    </form>
{% endblock %}