{% extends "base.html"%}
{% block title %} No Me CuenTes PelicuLas{% endblock%}
{% block body %}
  
    
    <form action="/index" method="POST">
        
        <textarea name='comentarios' id= 'id' rows="2" cols='60'>Escribe aquí el titulo deseado</textarea>
        <a href="/indice" class = "miboton button-primary"> Aceptar </a>
    </form>
    {% if form.errors['general'] %}
    {% for error in form.errors['general'] %}
        <p class="general-error"> {{ error }} </p>
    {% endfor %}
    {% endif %}
{% endblock%}
