{% extends 'base.html' %}
{% block title %}<h1> LISTADO <br>{% endblock %}
{% block body %} 
    <p class = "error">
        {{ errorMsg }}
    </p>
    <form action="/indice" method="POST">
        {{ form.hidden_tag() }}
        <div class = "busqueda">  
            <label for="titulo">{{form.titulo.label}}</label>
            {{form.titulo(class="u-full-width", type="text", placeholder ="titulo", id="titulo")}}
        </div>   
        <br/>
        <p>{{ form.submit(class = "miboton button-primary") }}</p>
    </form>
{% endblock %}
