{% extends "base.html"%}
{% block title %} No Me CuenTes PelicuLas{% endblock%}
{% block body %}
    <h1 class= "titulo-pagina">No Me CuenTes PelicuLas</h1>
    <h2>MeJor la Vemos</h2>
    
    <form action="/index" method="POST">
        <div class = 'container'>
              
               <div class="mensajes-error">
                   <ul class="flash-messages">
                   {% for error in errores %}
                       <li>{{ error }}</li>    
                   {% endfor %}
                   </ul>
               </div>
               {% endif %}
               {% block body %}{% endblock%}
           </div>
        
        
        <textarea name="comentarios" id= 'id' rows="2" cols="60">Escribe aquí el titulo deseado</textarea>
        <button type="submit" class ='butAcep'>Aceptar</button>
    </form>
  
{% endblock%}