{% extends 'base.html' %}
{% block title %} Listado {% endblock %}
{% block body %} 
    <form action="/listado" method="GET">
        <table class="u-full-width">
            {% for pelicula in peliculas %}    
                <tr>
                    <td rowspan="2">{{ pelicula[imagen] }}</td>
                    <th>Titulo</th>
                    <td>{{ pelicula[titulo] }}</td>
                    <td rowspan="2"><button name="btnselected" value="Select" type="submit" class="miboton  button-primary">Detalle</button></td>
                </tr>
                <tr>
                    <th>Año</th>
                    <td>{{ pelicula[año] }}</td>
                </tr>
        </table>
        {% endfor %}   
        <br/>
            
    {% if paginas > 1 %}
            <button name="btnselected" value="Select" type="submit" class="miboton  button-primary">ant.</button>
            <button name="btnselected" value="Select" type="submit" class="miboton  button-primary">sig.</button>
    {% endif %}
    </form>
{% endblock %}